files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGdDCCBFygAwIBAgIRAL/T3Kp5G0EIkqJ3AF2iEDkwDQYJKoZIhvcNAQEMBQAw
        SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
        U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yMzAxMTIwMDAwMDBaFw0y
        MzA0MTIyMzU5NTlaMBUxEzARBgNVBAMTCnNpbmp1cnkuY2wwggEiMA0GCSqGSIb3
        DQEBAQUAA4IBDwAwggEKAoIBAQCQiMNcJ2QwR5L0ZZ7lV1tqpu7apcXDSoSWVtar
        B9vTkpaU3jt7lbSkGTZ8M6ZBzOQFDpehrhoApbHjPGXI/n/pryaT4zlNFqlRnrXU
        g8Q5sLDov5aPgHRod4JKfI89PgQ2i44ijQC0MwPAGQTDzedOnQeRTRXrYu0tJQTI
        lRUFJVbLjwpGjNZ96YrGJpi3TajpqalPVP+cjF/txqzfmZ8aGdTbFn+/HDCmAT21
        Dy9TCBB3v9094W9tHztLqzzS0o7YtB/ROZeXMAkH87BNr5pfAI4GtQzp/lAzMR7v
        3n16lrr6bwkNMrq9UZolw5Fum5fA070z64tQIbRSjt0ex+15AgMBAAGjggKHMIIC
        gzAfBgNVHSMEGDAWgBTI2XhootkZaNU9ct5fCj7ctYaGpjAdBgNVHQ4EFgQUYeaV
        ggHuri0XqPQkO35EvFGdsZcwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAw
        HQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMEkGA1UdIARCMEAwNAYLKwYB
        BAGyMQECAk4wJTAjBggrBgEFBQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNvbS9DUFMw
        CAYGZ4EMAQIBMIGIBggrBgEFBQcBAQR8MHowSwYIKwYBBQUHMAKGP2h0dHA6Ly96
        ZXJvc3NsLmNydC5zZWN0aWdvLmNvbS9aZXJvU1NMUlNBRG9tYWluU2VjdXJlU2l0
        ZUNBLmNydDArBggrBgEFBQcwAYYfaHR0cDovL3plcm9zc2wub2NzcC5zZWN0aWdv
        LmNvbTCCAQUGCisGAQQB1nkCBAIEgfYEgfMA8QB3AK33vvp8/xDIi509nB4+GGq0
        Zyldz7EMJMqFhjTr3IKKAAABhag2dwMAAAQDAEgwRgIhALj2gioCHvFpiarY1OSn
        51S0EU346wf6e4Xzrgs+Tfn4AiEAiNB5h1zn2DUcthAsb1xFYDdAxsgCcc0YiiHW
        MfU9+r0AdgB6MoxU2LcttiDqOOBSHumEFnAyE4VNO9IrwTpXo1LrUgAAAYWoNnbG
        AAAEAwBHMEUCIH/k1EwcZIDgdwMJiByGdSHFBLwsHiebkpjSDcyw3YYOAiEA+D30
        OcYUEM82FAOo9kYF5wcELJm76cZYxXPPUJnXN40wJQYDVR0RBB4wHIIKc2luanVy
        eS5jbIIOd3d3LnNpbmp1cnkuY2wwDQYJKoZIhvcNAQEMBQADggIBAFoWdhR6xPGB
        OUshgf2TB5ArR7TtR0qi/6wkuyTMh0duChiLLgtIyHrpd852iFmePRHqxUKMM+3p
        lZ2IPMZXfTloY+eEHHtcVcPpLA9drU+NO6kIYjJ2LdAqlOAdg1XbmGahMVVYq/8x
        92oLlD9UTkiP9os909H4lP6LarRCErWb/bKQjJTHjeIHWfyOwheDSDOXtTb9xKZm
        ZHT6qUfH8Y1Oll4STR8MlIdVJC/180HsJ4Ehc18Q14llj4FH1fFUuvYbKOBgLHCr
        tVo4QUwX6Pt30IfKO/IkYBgYQWx1DZeXud/D4VXH68OgddBWFzmrNzl+L4hi8fmG
        1vADTwvXA+ohhdSveIGksjeWARipjBTUW7RxQ2EiCnxgtFIbPyUyfpFC7MV4Sdr9
        qmQOom165f4Gzp1xUxqk2Z8mgeDOSjN9+7jpPhNeoo67yfIjRs2dK2fC4oYpYSMJ
        4xWUQ8pqFMyyniZP4JcgpShLyE9hNL0/D/f5OETc8WJsKrhJsMe7wR/8xBh8lY6s
        XlIpkUuFl08toPC6MKp2Tn7UM74PpkawgLAJsWsEYIkVrFI/+P8jYF3aKv5Kfn8p
        dQ8mbai7BvnSzQ6qerRkuvevvMC0lARKEjRftcS3CUqS31lS/Q3p91PwrMAZBRq3
        kxPbzg/TvjJQwJd1opTkE/Blt+RZMADg
        -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEogIBAAKCAQEAkIjDXCdkMEeS9GWe5Vdbaqbu2qXFw0qEllbWqwfb05KWlN47
        e5W0pBk2fDOmQczkBQ6Xoa4aAKWx4zxlyP5/6a8mk+M5TRapUZ611IPEObCw6L+W
        j4B0aHeCSnyPPT4ENouOIo0AtDMDwBkEw83nTp0HkU0V62LtLSUEyJUVBSVWy48K
        RozWfemKxiaYt02o6ampT1T/nIxf7cas35mfGhnU2xZ/vxwwpgE9tQ8vUwgQd7/d
        PeFvbR87S6s80tKO2LQf0TmXlzAJB/OwTa+aXwCOBrUM6f5QMzEe7959epa6+m8J
        DTK6vVGaJcORbpuXwNO9M+uLUCG0Uo7dHsfteQIDAQABAoIBAEegXyBmLRJ4Be20
        BqClQBqEi84zZOQ5I6fVdSDhDiG1fYZc86F1OUYxcHzwo63sOfv/lUl8nEpB0vxH
        zDFlXkKSmE2lx5naZyKZwoaEnlPwqltNxvFquUWkJB+BxwKUn0XgtxmMQxMKTQt/
        2oqmmcCttTheuUQjjGJY/BvjNb2MWtRdfhbK8X6mvIpu+qjhXeNRhfWWoD7qQ2Lo
        OX9xSu6eqdy2KO0g2ZH2aAubK3LMOJvSPRfQnn5Ync0BXlPGf4k6WFprePsZxja5
        8DLJ59OzbWJW8XWZcoe1F6iyxkVSH10naosoAToyNoHHbyVAFDUU9ZNI7f57glYu
        s0r735kCgYEAxZGs3Fh/wVI9IuSs9W2x+BhPb+Hsg2iFvtBunM4r1zB6tQyqT3y9
        UwWklkY0dLS2b21mBOSqd54fzuUPeM/yox3ats3V9Hf1CcZ+tayWXjrJshliIVS0
        6lvJBJ7N1gRxk8CCVol33GEH6WhqDntAnAen5SW0IHlqkwds46IRZn8CgYEAu0e4
        43jJVx3kuRcgJlrWrOsl2DLmwqB/Xg8Uhj3UzJBVpFv84MvClijR3PgfS9twxMc8
        FxtLQSc9H+YKI2i5BPiVhAcQT4i0c8x/sQzxXJJ6Kj8717MnQDfbYMERi4qy7xQp
        lQ/bPvK3oGhdFTFQ6f6u/+P6tr/gYRxV4B/h4AcCgYAfqZwBaDF5QvvHRsytPJpD
        /2ljrdpgqPSeQvsnKCeAgiV4NIJq4LvavVHGP5QSjA+cxfSOnjLvnqjMWItlOjZR
        i+xMVaqPVlYv7d7KsNEcYuGGKGlAnDmuQW1yzxx/yxCEtFpvEfLin65L6s7saTZO
        iy+OGr/GYI8C5zK9PHD7cwKBgFFoc+4taxf7Xpk2fDsv8XFpJiI8viKMMdFpLLrN
        1dq2QwQXGG1/JS6wv8kV8kS/Nt3S3UQOEUBZFjDvhiiuNP78L8Icb/Kisg5ELp1/
        yss6wO/sXM7+iWlY3nvIcR//Qpi6Yvjw05UhXMDVnODBdzLACsIhD7Kw5ZBRCONL
        +JuxAoGAc5lbfpcJHhYAvwmyKAnnyG6SyolcFPIlq3HkB4rVNzMB7D4FGiVBS9Qn
        eo0YkATStuYn/NsizW3dbUy9eXScj4mjU+RjCv3GXofk2LKS1b/0Y7sPkqXbS8wq
        V8grWkfk+S5H+IB/AI0nhNcjKcjZJA7RsQdErMLb2jeSo0xHmkg=
        -----END RSA PRIVATE KEY-----