@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #4a5593;
  --secondary-bg-color: #1b5e7d;
}

.gradient {
    background: linear-gradient(90deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
  }